body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background-image: url("https://wallpapersite.com/images/wallpapers/miui-8-2560x1440-rainy-weather-background-minimal-hd-10471.png");
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 300px;
}

#container{
  /*background-color: #eeeeee; */
  border: 0 solid gray;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  transition: 1s ease background-color;
}

#contents{
  min-height: calc(100vh - 280px);
}

#search{
  text-align: center;
}
#search-container{
  height: 45px;
  overflow: hidden;
  margin: 0 auto 0 auto;
}
#search_bar{
  width: 40%;
  height: 45px;
  padding: 3px;
  background-color: #eeeeee;
  border-width: 0;
  text-align: center;
  padding-left: 5px;
  transition-property: width background-color;
  transition-duration: 0.6s;
  transition-timing-function: ease-in;
  display: inline-flex;
  position: relative;
  bottom: 5px;
  font-family: 'Comfortaa', cursive;
}

#search_bar:focus {
  text-align: left;
  width: 43%;
  background-color: white;
}

@media (max-width: 800px) {
  #search_bar{
    width: 80%;
  }
  #search_bar:focus{
    width: 80%;
  }
}

@keyframes align {
  0%{text-align: center;}
  100%{text-align: left;}
}

#submit{
  width: 50px;
  height: 45px;
  border: 0 solid gray;
  cursor: pointer;
  background-color: #00687E;
  display: inline-block;
  margin: 0;
  padding: 3px;
  transition: 0.5s ease background-color;
}

#submit:hover{
  background-color: gray;
}

#search_icon{
  color: #dddddd;
  font-size: 1.7em;
  cursor: pointer;
  margin-left: 5px;
}

.suggestionbox{
 margin: 0;
 padding: 0;
 position: absolute;
 top: 76px;
 display: inline-block;
 width: 43.4%;
 max-height: 378px;
 overflow-y: auto;
 background-color: white;
 border: 0px solid #eeeeee;
}

#search-results{
  display: none;
}

.result-link{
  display: block;
  padding: 12px 0 12px 0;
}

.result-link:focus, .weather-link{
  outline: none;
}

.suggestions{
  margin: 0;
  padding: 0;
}

.suggestions li{
 list-style: none;
 text-align: left;
 padding-left: 10px;
 cursor: pointer;
}

.suggestions li:hover{
  background-color: #00687E;
}

#location{
  text-align: center;
  margin: 10px auto 0 auto;
  width: 180px;
  color: #494949;
}

#location i{
  font-size: 2em;
  color: #494949;
}

#location:hover {
  color: black;
  cursor: pointer;
}

#location:hover i {
  color: black;
  cursor: pointer;
}

#weather_list{
  padding: 0;
  margin: 0;
  text-align: center;
}

#weather_list li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 0 auto 0 auto;
}

.weather{
  width: 300px;
  height: 250px;
  background-color: #eeeeee;
  border: 0 solid #eeeeee;
  margin: 20px auto 0 auto;
  padding: 10px;
  border-radius: 8px;
  background-position: 120px 40px;
  background-size: 190px 190px;
  background-repeat: no-repeat;
  color: #494949;
}

.weather:hover{
  animation-name: anim;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes anim {
    0%{background-color: #eeeeee; color: #494949;}
    100%{background-color: white; color: #494949;}
}

.location{
  font-size: 1.5em;
}

.temperature{
  text-align: left;
  margin-left: 20px;
  padding: 40px 0 30px 0;
  font-size: 3em;
}

.weather_state_name{
  text-align: left;
  padding: 0 0 10px 0;
  font-size: 1.1em;
  font-weight: bold;
}

.humidity, .air_pressure{
  padding: 5px 0 10px 0;
  text-align: left;
}

.modal-parent{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.location-weather{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  max-width: 65%;
  height: 450px;
  background-color: white;
  border: 20px solid white;
  margin: 78px auto 0 auto;
  padding: 0 0 20px 0;
  border-radius: 8px;
  background-position: right 20px;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #494949;
  overflow: hidden;
}
.close-icon{
  float: right;
  cursor: pointer;
  position: relative;
}
.close-icon i{
  font-size: 1.5em;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.close-icon:hover i{
  color: #e04c4c;
}
.location-location{
  font-size: 1.6em;
}

.location-temperature{
  text-align: left;
  margin-left: 20px;
  padding: 40px 0 30px 0;
  font-size: 3em;
}

.location-weather_state_name{
  text-align: left;
  padding: 0 0 10px 0;
  font-size: 1.1em;
  font-weight: bold;
}

.location-weather [class^=location]{
  padding: 10px 0 10px 0;
  text-align: left;
}

#footer{
  height: 200px;
  margin-top: 50px;
  background-color: #eeeeee;
  opacity: 0.8;
}

#version{
  font-size: 0.8em;
  padding: 10px;
}

.toggle-button{
  width: 70px;
  padding: 5px;
  float: right;
  margin-right: 40px;
}

.slider-container{
  width: 60px;
  height: 26px;
  overflow: hidden;
  background-color: #eeeeee;
  border-radius: 14px;
  cursor: pointer;
  padding: 3px;
  transition: 1s ease background-color;
}

.slider{
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: black;
  transition: 1s ease all;
}

.left{
    float: left;
}
.right{
    float: right;
}
